@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.auth {
  text-align: center;
  background-color: #36393E;
  width: 400px;
  height: 400px;
  // display: flex;
  // flex-flow: row nowrap
}

h2 {
  height: 70px;
  background-color: #2E3136;
}

input {
  background-color: #f5f5f5;
}

button {
  margin: 10px;
  width: 100px;
}

